tasks.build = "cargo build --all --all-features"
tasks.build-release = "cargo build --all --all-features --release"
tasks.format = "cargo fmt -- --all"
tasks.lint = [
  "cargo clippy --all --all-features -- -D warnings",
  "cargo fmt --all -- --check",
]
tasks.release = "cargo release"

[tasks.test]
run = "cargo test --all --all-features"

[tasks.coverage]
run = "cargo llvm-cov --all --all-features --lcov --output-path coverage.lcov"

[tasks.ci]
depends = ["build", "lint", "coverage"]

[env]
RUST_TEST_THREADS = '1'

[tools]
"cargo:cargo-llvm-cov" = "latest"
